body {
    font-family: "Courier New"; 
    color: #A0FCD7; 
    font-size: large; 
    background: #000; 
    font-weight: bold; 
    padding:20px;
} 
.glowing-button-wrap {
    text-align: center;
    position: absolute;
    right: 20px;
    bottom: 20px;
    max-width: 800px;
  }
  .glowing-button2 {
    font-family: "Courier New"; 
    margin: 10px;
    position: relative;
    background-color: #49e819;
    box-shadow: 0 0 20px 0 #49e819;
    border: 2px solid #49e819;
    padding: 15px 50px;
    background-color: #000;
    transition: .4s;
    font-size: 20px;
    cursor: pointer;
    color: #49e819;
    z-index: 0;
  }
  
  .glowing-button2::before {
    content: '';
    position: absolute;
    border: 2px solid #49e819;
    transition: .4s;
    box-shadow: 0 0 20px 0 #49e819;
    z-index: -1;
    width: 30px;
    height: 10px;
    top: -5px;
    left: -5px;
    transform: skewX(30deg);
    background-color: #000;
  }
  
  .glowing-button2::after {
    content: '';
    position: absolute;
    border: 2px solid #49e819;
    transition: .4s;
    box-shadow: 0 0 20px 0 #49e819;
    z-index: -1;
    width: 30px;
    height: 10px;
    bottom: -5px;
    right: -5px;
    transform: skewX(-30deg);
    background-color: #000;
  }
  
  .glowing-button2:hover {
    color: #000;
  }
  
  .glowing-button2:hover::before {
    width: 100%;
    height: calc(50% + 1px);
    left: 0;
    top: 0;
    transform: skewX(0deg);
    background-color: #49e819;
  }
  
  .glowing-button2:hover::after {
    width: 100%;
    height: calc(50% + 1px);
    right: 0;
    bottom: 0;
    background-color: #49e819;
    transform: skewX(0deg);
  }